.cabecera {
    background-color: brown;
}

.navbar {
    background-color: white;
}

.navbar strong {
    color: brown;
}

.nav-link {
    color: brown;
}
.dropdown-menu {
}

/* .span-title {
    color: rgb(243, 227, 10);
} */

img {
    border-radius: 50%;
    width: 100px;
    height: 45px;
}

#icon-cart {
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}