.cabecera {
    background-color: brown;
}

.navbar {
    background-color: white;
}

.navbar strong {
    color: brown;
}

.nav-link {
    color: brown;
}

#imgIcono {
    border-radius: 50%;
    width: 100px;
    height: 45px;
}


#icon-cart {
    color: white;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropleft {
    right: 100%;
    top: 0%;
    margin-top: 0.125rem;
    width: 400px;
}

.mytext{
    word-break:break-all;
    overflow-wrap: break-word;
}

a {
    cursor: pointer;
}