<div class="container">

    <div class="row mb-3">

        <strong><h1 class="text-center">Mi carrito</h1></strong>

    </div>

    <div class="row mb-3">

        <table class="table table-bordered border-info">
            
            <thead>
                <tr>
                    <th class="text-center">Indice</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Precio unitario</th>
                    <th class="text-center">Monto Total</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let p of carrito, let i = index">
                    <td class="text-center">{{ i+1 }}</td>
                    <td class="text-center">{{ p.nombre }}</td>
                    <td class="text-center">
                        <!-- <div class="row rounded-pill justify-content-center" id="contadorNumerico">
                            <div class="col-5">
                                <button class="btn btn-danger rounded-pill">h</button>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-5">
                                <button class="btn btn-danger rounded-pill">h</button>
                            </div>
                        </div> -->
                        <div class="btn-group col-4">
                            <button class="btn btn-danger" (click)="restar(p)">-</button>
                            <input type="text" class="w-75 text-center" name="" id="" value="{{p.cantidad}}">
                            <button class="btn btn-success"(click)=sumar(p)>+</button>
                        </div>
                    </td>
                    <td class="text-center">{{ p.precio }}</td>
                    <td class="text-center" id="montoT">{{ p.montoTotal }}</td>
                </tr>
            </tbody>
            
        </table>

    </div>

    <div class="row text-end">
        <div class="col align-self-end">
            <button class="btn btn-danger w-25" (click)="irLogin()">Realizar Pedido</button>
        </div>
    </div>

</div>

<app-ofertas></app-ofertas>